

<div class="image-cover-container">
    <img class="main-cover" src="{{ allInfo.header.image }}" alt="">
    <div class="image-text">
        <h1>About Us</h1>
        <h2 class="shortdes">{{allInfo.header.desc}}</h2>
    </div>
  </div>
  

<div class="container-fluid">
    <div class="container">
        <!-- <img class="cover" src="{{allInfo.whoweare.image}}" alt=""> -->
        <img class="cover" src="assets/ff.png" alt="Your Image">

        <h1>Who We are?</h1>
        <p>
            {{allInfo.whoweare.desc}}
        </p>






        <div class="image-container">

            <!-- <img src="{{allInfo.ourvision.image}}" alt="Your Image"> -->
            
            <img src="assets/con1.png" alt="Your Image">  
            
            <div class="overflow-box">
                <h2>Our Vision</h2>
                <p>{{allInfo.ourvision.desc}}</p>
            </div>
          </div>

          <hr>
          <div class="image-container1">

            <!-- <img src="{{allInfo.ourmission.image}}" alt="Your Image"> -->
            <img src="assets/con2.png" alt="Your Image">

            <div class="overflow-box">
                <h2>Our Mision</h2>
                <p>{{allInfo.ourmission.desc}}</p>
            </div>
          </div>
          
          <hr>
          
          <div class="image-container ">

                <!-- <img src="{{allInfo.objectives.image}}" alt="Your Image">   -->
                <img src="assets/con3.png" alt="Your Image">

                <div class="overflow-box">
                  <h2>Objectives</h2>
                  <p>{{allInfo.objectives.desc}}</p>
                </div>
            </div>
            
            
            <hr>

            <div class="image-container2 ">

                <!-- <img src="{{allInfo.sustainability.image}}" alt="Your Image"> -->
                <img src="assets/con4.png" alt="Your Image">

                <div class="overflow-box">
                    <h2>SUSTAINABILITY</h2>
                    <p>{{allInfo.sustainability.desc}}</p>
                </div>
              </div>

 
              <hr>

              <div>
                <div class="image-container">

                    <!-- <img src="assets/object.jpg" alt="Your Image">  -->
                    <img src="assets/con5.png" alt="Your Image">

                    <div class="overflow-box">
                        <h2>Get in Touch</h2>
                        <p class="get-intouch">Our team of designers, developers & strategists, make custom digital products for startups and brands.</p>
                        <div class="row m-2 ">
                            <div class="col-md-4 col-6" >
                                <i class="fa-regular fa-envelope icon"></i>
                                <div class="wrap">{{allInfo.info.email}}</div>
                                <div class="icon">Email</div>
                            </div>
                
                            <div class="col-md-4 col-6">
                                <i class="fa-solid fa-mobile-screen-button icon"></i>
                                <div>{{allInfo.info.phone}}</div>
                                <div class="icon">Phone</div>
                
                            </div>
                
                            <div class="col-md-4">
                                <i class="fa-solid fa-map-pin icon"></i>
                                <div >{{allInfo.info.address}}</div>
                                <div class="icon">Adress</div>
                
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              
              <div class="add-dev"></div>
    </div>
</div>
