

  <!-- footer.component.html -->
<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/logo.png" alt="Logo" class="img-fluid">
      </div>
      <div class="footer-columns">
          <div class="column-3">

          <h5>STARLIGHT</h5>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/events">Events</a></li>
            <!-- Add more list items here -->
          </ul>
        </div>

        <div class="column-3">
          <h5>Get In Touch</h5>
          <ul>
            <li><a href="#">Business Center 1 M Floor The Meydan Hotel<br> Nad Al Sheba Dubai U.A.E.</a></li>
            <li><a href="#">{{info.phone}}</a></li>
            <li><a href="#">{{info.email}}</a></li>
            <!-- Add more list items here -->
          </ul>
        </div>

        <div class="column-3">
          <h5>Categories</h5>
          <ul>
            <li><a routerLink="/products">Nuts</a></li>
            <li><a routerLink="/products">Food and beverage</a></li>
            <li><a routerLink="/products">Grains and Oil seeds</a></li>
            <li><a routerLink="/products">Soft commodities</a></li>
            <li><a routerLink="/ts">Agricultural Crops</a></li>
            <!-- Add more list items here -->
          </ul>
        </div>


        <div class="column-3">
          <h5>Social Media</h5>
          <ul>
            <li class="footerItems"><a routerLink="/"><img src="assets/facebook-app-symbol.png" alt="Logo" class="footer_Image "></a></li>
  
         <li class="footerItems"><a routerLink="/about-us">    
              <img src="assets/linkedin (1).png" alt="Logo" class="footer_Image ">
         </a></li>
            <li class="footerItems"><a routerLink="/products">    
                  <img src="assets/twitter.png" alt="Logo" class="footer_Image ">
            </a></li>
            <li class="footerItems"><a routerLink="/events">     
                 <img src="assets/youtube.png" alt="Logo" class="footer_Image ">
            </a></li>
          </ul>
        </div>

   

          <!-- <div class="footer-column">
          <h5>Column 3</h5>
          <ul>
            <li><a href="#">Header 1</a></li>
            <li><a href="#">Header 2</a></li>
            <li><a href="#">Header 1</a></li>
            <li><a href="#">Header 2</a></li>
            <li><a href="#">Header 1</a></li>
            <li><a href="#">Header 2</a></li>
          </ul>
        </div> -->
        <!-- <div class="footer-column">
          <h5>Column 4</h5>
          <ul>
            <li><a href="#">Header 1</a></li>
          </ul>
        </div> -->
       
      </div>
    </div>
   
  </footer>

  <div class="copyRiiights"> 
    <p>Copyright 2023 all reserved</p>
  </div>