@import './_variables';
@import './overrides';
@import '../../../node_modules/ngx-toastr/toastr.css';

/* You can add global styles to this file, and also import other style files */
body, ul, li {
    // margin: 0;
    // padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    color: $primary-color;
  }
html, body { height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: $background-color;
color: $primary-color;}


